doctype html
html(lang="en")
  head
    block title
      title JsonMC
    link(rel='stylesheet', href='/style.css')
  body
    block header
      #header
        .content
          h1
            a(href='/') JsonMC
          div The JSON Movie Collection project
          .links
            ul
              li
                a(href='https://github.com/jsonmc/jsonmc/blob/master/readme.markdown') About
              li
                a(href='https://github.com/jsonmc') GitHub

    #content
      .content
        block content

    block foot
      #footer
        .content
          | JsonMC project. Find, fork and edit us on git at&nbsp;
          a(href='https://github.com/jsonmc/jsonmc') github.com/jsonmc/jsonmc
