doctype html
html(lang="en")
  head
    block title
      title JsonMC
    link(rel='stylesheet', href='/style.css')
  body
    block header
      h1 JsonMC
        div The JSON Movie Collection project
    block content
    block foot
      #footer JsonMC project
