extends layout.pug

block title
  title= "JsonMC: " + movie.name
block content
  h2#movie-name= movie.name + ' (' + movie.year + ')'
  .storyline= movie.storyline
  h3 Actors
  .actor-list
    ul
      each actor in movie.actors
        li
          a(href=buildActorUrl(actor))= actor
