extends layout.pug

block title
  title= "JsonMC: " + movie.name
block content
  body
    h2= movie.name + ' (' + movie.year + ')'
    div= movie.storyline
    h3 Actors
      each actor in movie.actors
        div= actor
